<!DOCTYPE html>
<html lang="en" xmlns:th="http://tyhmeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="oilChangeHeader" class="oilChangeHeader">
    <!-- Image from flaticon.com -->
    <a th:href="@{/}">
        <img height="100px" width="100px" th:src="@{https://cdn-icons-png.flaticon.com/512/21/21141.png}"/>
    </a>
    <a th:href="@{/}">
        <h1>Doing an Oil Change!</h1>
    </a>
    <a th:href="@{/}">
        <img height="100px" width="100px" th:src="@{https://cdn-icons-png.flaticon.com/512/21/21141.png}"/>
    </a>
</div>
</body>
</html>